---
layout: default
title: Home
---

<div class="intro">
  <p>I’m a London based freelance content strategist and copywriter who loves to create genuine and clever work that helps brands connect with their audiences. <a href="{{ site.baseurl }}/about">More</a></p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {% if post.img %}
        <img src="{{ site.baseurl }}/public/images/{{ post.img }}">
      {% endif %}
      <h1 class="post-title">
        <span>{{ post.title }}</span>
      </h1>
    </a>
  </article>
  {% endfor %}
</div>
