---
layout: default
title: Home
---

<div class="intro">
  <p>I’m a hands-on creative producer with a strong creative background having previous experience as a writer and stylist. <a href="{{ site.baseurl }}about">More</a></p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <a href="{{ post.url }}">
      {% if post.img %}
        <img src="{{ site.baseurl }}/public/images/{{ post.img }}">
      {% endif %}
      <h1 class="post-title">
        <span>{{ post.title }}</span>
      </h1>
    </a>
  </article>
  {% endfor %}
</div>
