/* Resets */
@media (min-width: 38em) {
  	html {
    	font-size: 16px;
  	}
}
body {
	color: #333;
}
.container {
  	max-width: 48rem;
}

p {
	max-width: 38rem;
}

a,
.posts .post a h1 span {
	border-bottom: 1px solid #ddd;
  	color: #333;
  	text-decoration: none;
}
a:hover,
a:focus,
.posts .post a:hover h1 span,
.posts .post a:focus h1 span {
	border-bottom: 1px solid #333;
  	text-decoration: none;
  	transition: border-color 0.3s ease;
}

footer,
footer p a {
	color: #999;
}
footer {
	line-height: 1.75;
}

.posts,
.page,
.post {
  margin-bottom: 4rem;
}

.posts .post {
  margin-bottom: 0;
}

img {
	border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-size: 1rem;
  	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, img, .fluid-width-video-wrapper {
	margin: 0 0 2rem 0;
	padding: 0;
}

.masthead {
	padding-top: 3rem;
	padding-bottom: 0;
}
.masthead-title, .masthead-title a {
	color: #333;
}

.border {
	border: 1px solid #eee;
}

/* Homepage posts layout */
.intro {
	margin-bottom: 2em;
}
.posts .post-title {
	margin-top: -1rem;
}
@media (min-width: 38em) {
	.posts {
		overflow: hidden; /* clearfix */
	}
	.posts .post {
		float: left;
		width: 50%;
	}
	.posts .post:nth-of-type(odd) {
		clear: left;
		padding-right: 1.5rem;
	}
	.posts .post:nth-of-type(even) {
		padding-left: 1.5rem;
	}
}

/* Fade content in smoothly */
.js .posts,
.js .post div > img,
.js .fluid-width-video-wrapper {
	opacity: 0;
}
